/**
 * Part of React Material Easy
 * @author Rodrigo Cesar de Freitas Dias
 * @see https://github.com/rodrigocfd/react-material-easy
 */

.rme-checkbox__wrap-label {
	display: inline-block;
}

.rme-checkbox__children {
	display: inline-block;
	padding-bottom: 10px;
	cursor: pointer;
	user-select: none;
}
