/**
 * Part of React Material Easy
 * @author Rodrigo Cesar de Freitas Dias
 * @see https://github.com/rodrigocfd/react-material-easy
 */

body.mdc-dialog-scroll-lock {
	color: inherit;
}

.rme-dialog__body {
	color: inherit;
	font-family: inherit;
}
