/**
 * Part of React Material Easy
 * @author Rodrigo Cesar de Freitas Dias
 * @see https://github.com/rodrigocfd/react-material-easy
 */

body {
	margin: 0;
	font-family: Roboto,Arial,sans-serif;
}

.rme-layout__wrapper {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	transition: left .5s, width .5s;
}

.rme-layout__wrapper-hidden {
	left: -240px;
	width: calc(100vw + 240px);
	transition: left .5s, width .5s;
}

.rme-layout__body {
	flex-grow: 1;
	min-height: 0;
	display: flex;
}

.rme-layout__body .mdc-permanent-drawer .mdc-list .mdc-list-item
	a:hover:not(.rme-routed-layout__current) {
	background-color: #fafafa;
}
