/**
 * Part of React Material Easy
 * @author Rodrigo Cesar de Freitas Dias
 * @see https://github.com/rodrigocfd/react-material-easy
 */

.rme-radio-button__wrap-label {
	display: inline-block;
}

.rme-radio-button__mdc-radio {
	top: 13px;
}

.rme-radio-button__children {
	display: inline-block;
	cursor: pointer;
	user-select: none;
}
