/**
 * Part of React Material Easy
 * @author Rodrigo Cesar de Freitas Dias
 * @see https://github.com/rodrigocfd/react-material-easy
 */

.rme-text-field__wrap {
	height: auto;
	margin-top: 24px;
}

.rme-text-field__input {
	letter-spacing: normal;
	font-family: inherit;
}
