/**
 * Part of React Material Easy
 * @author Rodrigo Cesar de Freitas Dias
 * @see https://github.com/rodrigocfd/react-material-easy
 */

.rme-toolbar__first-row {
	padding-top: 4px;
}

.rme-toolbar__hamburger {
	margin: 6px 14px;
	padding: 10px;
	transition-property: transform;
	transition-duration: .5s;
}

.rme-toolbar__hamburger-rotate {
	transform: rotate(180deg);
}

.rme-toolbar__hamburger:hover {
	background-color: rgba(255,255,255,.1);
}

.rme-toolbar__hamburger:active {
	background-color: rgba(255,255,255,.2);
}
