.Checkbox-wrapLabel {
	display: inline-block;
}
.Checkbox-children {
	display: inline-block;
	padding-bottom: 10px;
	cursor: pointer;
	user-select: none;
}

body.mdc-dialog-scroll-lock {
	color: inherit;
}
.Dialog-header {
	display: block !important;
}
.Dialog-body {
	color: inherit !important;
}
.Dialog-footer {
	display: block !important;
	text-align: right;
}

.RadioButton-wrapLabel {
	display: inline-block;
}
.RadioButton-mdcRadio {
	top: 13px;
}
.RadioButton-children {
	display: inline-block;
	cursor: pointer;
	user-select: none;
}

.RadioGroup-wrap {
	display: inline-block;
}

.Switch-wrapLabel {
	display: inline-block;
}
.Switch-children {
	display: inline-block;
	margin-left: 8px;
	cursor: pointer;
	user-select: none;
}

.TextField-mdcWrap {
	height: auto;
	margin-top: 24px;
}
.TextField-input {
	letter-spacing: normal !important;
}
